<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/Home/DashBoard.css">
</head>

<body>
    <div class="dashboardContainer">
        <div class="containerHead">
            <div class="shortcut">

                <a href="/dashboard" aria-disabled="true">Back</a>
                <h3>Dashboard</h3>
                <a href="/auth/logout">Logout</a>

            </div>

            <hr>
        </div>
        <div class="menu">
            <div class="card student">
                <a href="/students" class="card-link">
                    <div class="cardDetails">
                        <h4>Students</h4>
                        <div>Manage and view student information.</div>
                    </div>
                </a>
            </div>

            <div class="card interview">
                <a href="/interviews" class="card-link">
                    <div class="cardDetails">
                        <h4>Interviews</h4>
                        <div>Schedule and manage interviews.</div>
                    </div>
                </a>
            </div>

            <div class="card job">
                <a href="/jobs" class="card-link">
                    <div class="cardDetails">
                        <h4>Jobs</h4>
                        <div>Check out tne nuw available jobs.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>