<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell App</title>
    <link rel="stylesheet" href="/Home/Home.css">
</head>

<body>
    <div class="container">
        <div class="intro">
            <h1>Welcome to Placement Cell</h1>
            <div class="about">
                It is imperative to land your desired career once you graduate from college. The placement cell in a
                college is an
                essential department that plays a crucial role in helping students secure their dream jobs. They provide
                valuable
                resources, training, and opportunities for students to improve their skills and knowledge, and connect
                them with the
                right companies to kickstart their careers.
            </div>
        </div>
        <hr>
        <div class="containerActionButton">
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Register</a>
        </div>
    </div>
</body>

</html>